@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	font: 12px/1.5em Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,body {
	background-color: #f1f1f1;
	width:100%;
	min-width: 300px;
}

.hr-style {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #e9e9e9;
}

.container {
	background-color: #f8f8f8
}

#hair {
	height: 20px;
	padding: 0;
	margin: 0 0 20px 0;
	overflow: hidden;
	border-top: 1px solid #e3e3f3;
	border-bottom: 1px solid #e3e3f3
}

#shoe {
	height: 20px;
	padding: 0;
	margin: 20px 0 0 0;
	overflow: hidden;
	border-top: 1px solid #e3e3f3;
	border-bottom: 1px solid #e3e3f3
}

a:visited {
	color: blue;
	text-decoration: none;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.clb {
	clear:both;
}

/* common class */
.time {
	font-size: 10px !important;
}