@CHARSET "UTF-8";

.container {
	position: relative;
	margin: auto;
	height: auto;
	min-width: 200px;
	padding: 20px 10px;
	margin: auto;
}

.container #login-div {
	position: relative;
	padding:10px;
	background-color:rgba(0,0,0,0.1);
	width: 280px;
	left: 50%;
}

@media screen and (max-width: 600px) {
	.container #login-div {
		margin-left: -140px;
	}
}